.collapsible-card {
  border: 1px solid #ddd;
  margin: 10px 0;
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.3s ease;

  &__header {
    background-color: #f7f7f7;
    padding: 10px;
    cursor: pointer;
    user-select: none;

    h3 {
      margin: 0;
    }
  }

  &__content {
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
  }
}

.diagnostic {
  &__cards {
    font-family: sans-serif;
    text-align: center;
    padding-top: 40px;
    margin: 0 48px;
    @include desktop() {
      font-size: 20px;
      margin: 0 338px;
    }
  }
}
