.coursection {
  margin: 80px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  @include desktop() {
    font-size: 20px;
  }
  &__title {
    text-align: center;
    margin-bottom: 30px;
    color: $darkgreen;
    background: $background;
    padding: 5px;
    border-radius: 10px;
    font-family: $text;
    font-size: 16px;
    text-align: center;
    @include desktop() {
      font-size: 22px;
    }
    &--subtitle {
      margin-bottom: 10px;
      font-size: 16px;
      @include desktop() {
        font-size: 22px;
      }
    }
  }
  &__listdata {
    margin: 10px 0;
    &--item {
      list-style: none;
    }
    &--item::before {
      content: '\2022';
      position: relative;
      left: -10px;
      font-size: 135%;
      color: $darkcolor;
      display: inline-block;
      margin-left: -10px;
    }
  }
  &__text {
    margin: 10px 15px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    list-style: none;
    font-weight: bolder;
    font-family: $text;
    &--item {
      text-align: center;
      color: $darkgreen;
      font-weight: bolder;
      text-decoration: none;
      margin: 15px 0;
    }
    &--span {
      color: $darkcolor;
    }
  }
  &__listprices {
    list-style: none;
    &--price {
      text-decoration: none;
      color: $link;
      font-weight: bolder;
    }
  }
}
.price {
  text-decoration: none;
  color: $link;
  font-weight: bolder;
}
.emailLink {
  text-decoration: none;
  color: $link;
  font-weight: bolder;
  &:hover {
    background-color: $ligthcolor;
    border-radius: 10px;
  }
}
