.piccontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__personalpicture {
    margin-top: 40px;
    width: 69%;
    position: relative;
    @include desktop {
      margin-top: 0;
      width: 26%;
    }
  }
  &__logo {
    display: none;
    @include desktop() {
      display: flex;
      width: 12%;
      margin-top: -15vh;
      margin-left: 326px;
      z-index: 100;
      border: 5px solid $ligthcolor;
      border-radius: 100%;
    }
  }
}

.description {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Source Code Pro', monospace;
  font-size: 17px;
  font-weight: bolder;
  color: #2b4f60;
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
